[submodule "storyteller"]
	path = storyteller
	url = https://github.com/vikramanantha/storyteller.git
[submodule "3d_modeler"]
	path = 3d_modeler
	url = https://github.com/vikramanantha/3d_modeler.git
[submodule "signer"]
	path = signer
	url = https://github.com/vikramanantha/signer.git
[submodule "scheduler"]
	path = scheduler
	url = https://github.com/vikramanantha/scheduler.git
