# Node dependencies
node_modules/
**/node_modules/

# Ignore entire project directory
jobapp_demon/
the_group_chat/
markiv_core/

# NPM manifests
package-lock.json
package.json

# macOS metadata
.DS_Store
.DS_STORE

important_files/*
!important_files/resume_v2.pdf

polaroider/polaroids

